.deps
Makefile
Makefile.in
XClipboard
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
stamp-h1
xclipboard
xclipboard.1
xcutsel
xcutsel.1
